@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contributor Portal</h1>
    <section class="row">
        <p>@Html.ActionLink("Manage Blood Camps", "Index", "BloodCampCons")</p>
    </section>
</div>
